@font-face {
    font-family: 'Inter';
    src: url('Inter-Thin.eot');
    src: url('Inter-Thin.eot?#iefix') format('embedded-opentype'),
        url('Inter-Thin.woff2') format('woff2'),
        url('Inter-Thin.woff') format('woff'),
        url('Inter-Thin.svg#Inter-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

